@page
@model MoviesWebsite.Pages.StatisticsModel
@{
}
<h5> Choose statistics</h5>
<a href="@Url.Page("./Statistics/ActorMovieAverageRating", null)">Average rating of actor</a>
<button type="submit" asp-page-handler="DecadeComparison">Decade comparison</button>