@page
@model MoviesWebsite.Pages.StatisticsModel
@{
}
<h5> Choose statistics</h5>
<button type="submit" asp-page-handler="ActorAvgMovieRating">Movie rating avg actor</button>
<button type="submit" asp-page-handler="DecadeComparison">Decade comparison</button>