@page
@model MoviesWebsite.Pages.StatisticsModel
@{
}
<h5> Choose statistics</h5>
<a style="background-color: #193C8D" class="btn btn-primary" asp-page="/Statistics/ActorMovieAverageRating">Average rating of actor</a>
<a style="background-color: #193C8D" class="btn btn-primary" asp-page="/Statistics/DecadeComparison/DecadeComparison">Decade comparison</a>